* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

.post {
  border: 2px solid black;
  border-radius: 5px;
  margin: 8px 0;
  padding: 5px;
}

#header,
#disclaimer {
  padding: 5px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 5px;
}

#top-link {
  background-color: inherit;
  transition: background-color 0.3s linear;
  max-width: fit-content;
}

a,
a:visited,
a:active {
  color: inherit;
}

.num-comments {
  transition: background-color 0.2s ease;
  text-decoration: underline;
}

#nav {
  padding: 5px 0;
}

.post-title {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#sub-list {
  border-top: 2px solid black;
  margin-top: 5px;
}

#button-box {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 5;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.button {
  padding: 3px;
  transition: background-color 0.2s ease;
  background-color: white;
}

.video {
  max-width: 100%;
  max-height: 400px;
}

#thumbnail-container {
  border-bottom: 1px solid black;
}

.thumbnail {
  max-width: 100%;
}

.no-image {
  padding: 10px 0px;
}

.md {
  margin: 0 auto;
  width: 95%;
  padding: 3px;
  border-radius: 5px;
  word-wrap: break-word;
}

.md>p>*>* {
  max-width: 100%;
  height: auto;
}

.comment-info {
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
}

.hide-comments {
  margin-left: 5px;
}

footer {
  bottom: 0;
  padding: 5px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 5px;
}

@media (hover: hover) {

  .button:hover {
      cursor: pointer;
      background-color: gray;
      transition: background-color 0.2s ease;
  }

  a:hover {
      color: inherit;
  }

  #top-link:hover {
      cursor: pointer;
      background-color: gray;
      transition: background-color 0.3s linear;
  }

  .num-comments:hover {
      cursor: pointer;
      background-color: gray;
      transition: background-color 0.2s ease;
  }
  
}

@media only screen and (max-width: 800px) {

  #header {
    text-align: center;
  }

  #top-link {
      text-align: center;
      padding-bottom: 4px;
      margin: 0 auto;
  }

  #search-form {
    text-align: center;
  }

  #button-box {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #search {
      margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {

  .thumbnail, .video {
      display: block;
      margin: 0 auto;
  }

  .post>h3 {
      font-size: 16px;
  }

  .post>span {
      font-size: 14px;
  }

  .comment-info>* {
      font-size: 16px;
  }

  .md>p {
      font-size: 14px;
      line-height: 18px;
  }
}